h3 {
    padding-top: 25px;
}

h2 {
    padding-top: 15px;
}

.card_inner {
    padding: 5px;
}

.row_posts {
    padding: 5px;
}

.card_wrap {
    width: 310px;
}

.leo_everyday.card_wrap {
    width: 220px;
}

.twitter_a3.card_wrap {
    width: 267.3px;
}

.four_frame.card_wrap {
    width: 260px;
}

.cd.card_wrap {
    width: 240px;
}

.img_wrap {
    position: relative;
    overflow-y: hidden;
    text-align: center;
}

.img_wrap::before {
    content: "";
    display: block;
    padding-top: 56.25%;
}

.leo_everyday .img_wrap::before {
    padding-top: 100%;
}

.twitter_a3 .img_wrap::before {
    padding-top: 70.71%;
}

.four_frame .img_wrap::before {
    padding-top: 74%;
}

.cd .img_wrap::before {
    padding-top: 100%;
}

.img_wrap img.img_thumb {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.leo_everyday .img_wrap img.img_thumb {
    top: 87.5%;
}

.four_frame .img_wrap img.img_thumb {
    top: 210.5%;
}